{# @var craft \craft\web\twig\variables\CraftVariable #}
{% import "_includes/forms" as forms %}

{% macro configWarning(setting) -%}
    {% set setting = '<code>'~setting~'</code>' %}
    {{ "This is being overridden by the {setting} config setting in your {file} config file."|t('scoutbase', {
        setting: setting,
        file: 'scoutbase.php'
    })|raw }}
{%- endmacro %}
{% from _self import configWarning %}

{{ forms.lightswitchfield({
    label: 'Sync',
    name: 'sync',
    instructions: 'Should Scoutbase sync its indices automatically',
    on: settings.sync,
    disabled: 'sync' in overrides,
    warning: 'sync' in overrides ? configWarning('sync'),
}) }}

{{ forms.lightswitchfield({
    label: 'Queue',
    name: 'queue',
    instructions: 'Should Scoutbase use a queue for syncing',
    on: settings.queue,
    disabled: 'queue' in overrides,
    warning: 'queue' in overrides ? configWarning('queue'),
}) }}

{{ forms.textfield({
    label: 'Connection timeout',
    name: 'connect_timeout',
    type: 'number',
    instructions: 'The connection timeout to Algolia in seconds',
    value: settings.connect_timeout,
    disabled: 'connect_timeout' in overrides,
    warning: 'connect_timeout' in overrides ? configWarning('connect_timeout'),
}) }}

{{ forms.textfield({
    label: 'Batch size',
    name: 'batch_size',
    type: 'number',
    instructions: 'This is used when running an import on a full index.',
    value: settings.batch_size,
    disabled: 'batch_size' in overrides,
    warning: 'batch_size' in overrides ? configWarning('batch_size'),
}) }}

{{ forms.autosuggestfield({
    label: 'Google Application Credentials',
    name: 'application_credentials',
    instructions: 'The path to the Google service account credentials',
    suggestEnvVars: true,
    value: settings.application_credentials,
    disabled: 'application_credentials' in overrides,
    warning: 'application_credentials' in overrides ? configWarning('application_credentials'),
}) }}

{{ forms.autosuggestfield({
    label: 'Firebase Project Id',
    name: 'project_id',
    instructions: 'The Project ID of the Firestore database',
    suggestEnvVars: true,
    value: settings.project_id,
    disabled: 'project_id' in overrides,
    warning: 'project_id' in overrides ? configWarning('project_id'),
}) }}

<div class="field">
    <div class="heading">
        <label>Indices</label>

        <div class="instructions">
            {{ "Scoutbase’s index settings can only be set using the `scoutbase.php` config file." | t('scoutbase') | markdown }}
        </div>
    </div>
</div>